# JEOPARDY

## Reading datas

In [2]:
import pandas as pd
jeopardy = pd.read_csv('jeopardy.csv')

## Ptinting data

In [3]:
print(jeopardy)

        Show Number    Air Date             Round  \
0              4680  2004-12-31         Jeopardy!
1              4680  2004-12-31         Jeopardy!
2              4680  2004-12-31         Jeopardy!
3              4680  2004-12-31         Jeopardy!
4              4680  2004-12-31         Jeopardy!
...             ...         ...               ...
216925         4999  2006-05-11  Double Jeopardy!
216926         4999  2006-05-11  Double Jeopardy!
216927         4999  2006-05-11  Double Jeopardy!
216928         4999  2006-05-11  Double Jeopardy!
216929         4999  2006-05-11   Final Jeopardy!

                               Category  Value  \
0                               HISTORY   $200
1       ESPN's TOP 10 ALL-TIME ATHLETES   $200
2           EVERYBODY TALKS ABOUT IT...   $200
3                      THE COMPANY LINE   $200
4                   EPITAPHS & TRIBUTES   $200
...                                 ...    ...
216925                   RIDDLE ME THIS  $2000
216926                        "T" BIRDS  $2000
216927           AUTHORS IN THEIR YOUTH  $2000
216928                       QUOTATIONS  $2000
216929                   HISTORIC NAMES   None

                                                 Question  \
0       For the last 8 years of his life, Galileo was ...
1       No. 2: 1912 Olympian; football star at Carlisl...
2       The city of Yuma in this state has a record av...
3       In 1963, live on "The Art Linkletter Show", th...
4       Signer of the Dec. of Indep., framer of the Co...
...                                                   ...
216925  This Puccini opera turns on the solution to 3 ...
216926  In North America this term is properly applied...
216927  In Penny Lane, where this "Hellraiser" grew up...
216928  From Ft. Sill, Okla. he made the plea, Arizona...
216929  A silent movie title includes the last name of...

                                Answer
0                           Copernicus
1                           Jim Thorpe
2                              Arizona
3                           McDonald's
4                           John Adams
...                                ...
216925                        Turandot
216926                      a titmouse
216927                    Clive Barker
216928                        Geronimo
216929  Grigori Alexandrovich Potemkin

[216930 rows x 7 columns]

## Columns names

In [13]:
columns  = jeopardy.columns
print(columns)

Index(['Show Number', ' Air Date', ' Round', ' Category', ' Value',
       ' Question', ' Answer'],
      dtype='object')

## Filtering the data function

In [28]:
def jeopardy_filter(lista):
    new = jeopardy[(jeopardy[' Question'].str.contains(lista[0])) & (jeopardy[' Question'].str.contains(lista[1])) | (jeopardy[' Question'].str.contains(lista[0].lower())) | (jeopardy[' Question'].str.contains(lista[1].lower()))]
    return new
print(jeopardy_filter(['King', 'England']))

        Show Number    Air Date             Round                    Category  \
34      4680         2004-12-31  Double Jeopardy!  "X"s & "O"s
40      4680         2004-12-31  Double Jeopardy!  DR. SEUSS AT THE MULTIPLEX
50      4680         2004-12-31  Double Jeopardy!  DR. SEUSS AT THE MULTIPLEX
56      5957         2010-07-06  Jeopardy!         GEOGRAPHY "E"
72      5957         2010-07-06  Jeopardy!         LET'S BOUNCE
...      ...                ...        ...                  ...
216744  6044         2010-12-16  Double Jeopardy!  YOUR MOMMA!
216758  5070         2006-09-29  Jeopardy!         SIGNING OFF
216789  5070         2006-09-29  Double Jeopardy!  ANCIENT HISTORY
216856  5195         2007-03-23  Double Jeopardy!  HAIL TO THE CHEF
216916  4999         2006-05-11  Double Jeopardy!  QUOTATIONS

         Value  \
34      $400
40      $1200
50      $2000
56      $200
72      $600
...      ...
216744  $2000
216758  $400
216789  $1200
216856  $1600
216916  $2,200

                                                                                                                                                                                 Question  \
34      Around 100 A.D. Tacitus wrote a book on how this art of persuasive speaking had declined since Cicero
40      <a href="http://www.j-archive.com/media/2004-12-31_DJ_26.mp3">Ripped from today's headlines, he was a turtle king gone mad; Mack was the one good turtle who'd bring him down</a>
50      <a href="http://www.j-archive.com/media/2004-12-31_DJ_24.mp3">"500 Hats"... 500 ways to die.  On July 4th, this young boy will defy a king... & become a legend</a>
56      It's the largest kingdom in the United Kingdom
72      In this kid's game, you bounce a small rubber ball while picking up 6-pronged metal objects
...                                                                                             ...
216744  French kings Francis II, Charles IX & Henry III
216758  As head of the union in 1964, he signed the first nationwide trucking contract in Teamster history
216789  This kingdom of England grew from 2 settlements, one founded around 495 by Cerdic & his son Cynric
216856  You can cook like <a href="http://www.j-archive.com/media/2007-03-23_DJ_24.jpg" target="_blank">this</a> man who wrote "The Joy of Wokking"
216916  Oscar Wilde called this 4-letter word "the curse of the drinking classes"

                     Answer
34      oratory
40      Yertle
50      Bartholomew Cubbins
56      England
72      jacks
...       ...
216744  Catherine de Medici
216758  Jimmy Hoffa
216789  Wessex
216856  (Martin) Yan
216916  work

[5927 rows x 7 columns]

## Converting to float, value column

In [5]:
jeopardy[' Value_in_float'] = jeopardy[' Value'].apply(lambda row: \
                                        float(row[1:].replace(',','')) if row != 'None' else 0)
print(jeopardy[' Value_in_float'])

0          200.0
1          200.0
2          200.0
3          200.0
4          200.0
           ...
216925    2000.0
216926    2000.0
216927    2000.0
216928    2000.0
216929       0.0
Name:  Value_in_float, Length: 216930, dtype: float64

## Average value per word in question

In [6]:
def aver_per_question(word):
    word1= ' '+word+' '
    n = jeopardy[(jeopardy[' Question'].str.contains(word1)) | (jeopardy[' Question'].str.contains(word1.lower())) ]
    average = n[' Value_in_float'].mean()
    return average

word = input('Introduce a word: ')
print('The average value for question with {} in it is {}'.format(word, round(aver_per_question('King'), 2)))

Introduce a word: king
The average value for question with king in it is 806.86

## Count of unique answer to questions with a specific word

In [129]:
def count_uniq(word):
    word1= ' '+word+' '
    n = jeopardy[(jeopardy[' Question'].str.contains(word1)) | (jeopardy[' Question'].str.contains(word1.lower())) ]
    m = n[' Answer'].value_counts()
    return m

word = input('Introduce a word: ')
print('Answers appear this many timesfor questions with {} '.format(word))
print(count_uniq(word))

Introduce a word: king
Answers appear this many timesfor questions with king
Henry VIII                    30
Richard III                   19
Solomon                       16
Charles I                     14
Norway                        13
                              ..
"Richard III"                 1
Ludwig II of Bavaria          1
The Little Prince of Wales    1
Oliver Cromwell               1
the Spanish Armada            1
Name:  Answer, Length: 491, dtype: int64

## How many questions use the word for a specific year?

In [188]:
word = input("Introduce a word: ")
year1 = input("Introduce a year: ")
year2 = input("Introduce other year: ")

word1= ' '+word+' '
n = jeopardy[(jeopardy[' Question'].str.contains(word1)) | (jeopardy[' Question'].str.contains(word1.lower())) ]
m1 = list(n[' Air Date'].apply(lambda row:\
                          row if row[:4] == str(year1) else 0))
m2 = list(n[' Air Date'].apply(lambda row:\
                          row if row[:4] == str(year2) else 0))

count = 0
for i in range(len(m1)):
    if m1[i] != 0:
        count += 1
        
print(count)
count1 = 0
for i in range(len(m2)):
    if m2[i] != 0:
        count1 += 1
print(count1)
print("The word {} appear {} times in questions in the year {}, and appear {} times in questions in the year {} ".format(word, count, year1, count1, year2))

Introduce a word: computer
Introduce a year: 2000
Introduce other year: 1990
18
2
The word computer appear 18 times in questions in the year 2000, and appear 2 times in questions in the year 1990

## Playing Jeopardy

In [218]:
quest = int(input("Introduce a number of question: "))

quest_list = list(jeopardy[' Question'])
answers = list(jeopardy[' Answer'])

print("The question is: \n {}".format(quest_list[quest]))
answer = input("Introduce your answer: ")
if (answer.lower() in answers[quest].lower()) == True:
    print("You're alright!!!!")
else:
    print("You've failed!!! The answer is: {}".format(answers[quest]))

Introduce a number of question: 60
The question is:
 This verb for bouncing a basketball sounds like you're slobbering
Introduce your answer: 3
You've failed!!! The answer is: dribbling